
body 
{
      font-size:115%;
    color: #000000;
    background-color:#D5BBB1;
}
h1
{
    
    text-align:center;
    color: #000000;
    font-size: 125%;
    font-style:bold;
    padding: 10px;

}
h2
{
       text-align:center;
    color: #FFFFFF;
    font-size: 200%;
    font-style:bold;
    padding: 10px;
}
#img1
{
       width: 10%;
    height: 10%;

}
.card
{
       margin-top: 5px;
    float:left;
}


#submit
{
margin-top:10px;
       
}

